body {
  font-family: "Times New Roman", serif;
  background: white;
  margin: 0;
  line-height: 1.3;
}
p{
  margin: 4px 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px 25px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  font-size: 32px;
}

.title {
  margin: 5px 0 10px;
  font-size: 18px;
}

.bio{
  font-size: 15px;
  margin: 10px 0;
  text-align: center;
}

.contact {
  font-size: 14px;
}

.contact span {
  display: block;
}

section {
  margin-bottom: 15px;
}

h2 { /* THIS IS HOW TO ADD FULL LENGTH LINE */
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.subheading {
  font-weight: bold;
  margin-top: 10px;
}

.job {
  margin-top: 10px;
}

.date {
  font-size: 14px;
  margin-bottom: 5px;
}

ul {
  margin: 4px 0 8px 20px;
  padding: 0;
}

/* The portfolio css section */
.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 10px;
}

.portfolio-item img{
  width: 100%;
  border: 1px solid black;
}

.portfolio-item p{
  font-size: 14px;
  margin-top: 5px;
}
